@import "tailwindcss";

:root {
  --dark-green: #0D2B25;
  --white-typo: #E4E2DB;
  --neutral-sand: #D6D0C4;
  --copper: #BA753D;
  --light-sand: #E3DED4; 
  --dark-sand: #CDC7BC;
  --copper-cta: #A15F2E;
  --copper-deep: #8F5A2D;

  --text-dark: #0D2B25;
  --text-light: #E4E2DB;

  --nav-text: rgba(13, 43, 37, 0.78);
}

body {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}